
<section ng-init="init()" style="background-color:#CCCCCC; height:100vh;width:100%;">
  <div class="" style="width:100%;height:78%">  
    <ng-map zoom="{{mapOptions.zoom}}" center="{{mapOptions.center}}" style="width:100%;height:100%;"></ng-map>   
  </div>
  <div class="" style="margin-top:10px;width:100%;height:20%;background-color:white;">
    <button ng-click="toggleBrasilTile()">Toggle for Brasil</button>

    <button ng-click="toggleOpenStreetMap()">Open Street Map</button>
  </div>
</section>